name: GitHub Pages deploy

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: write   # ← allow the token to push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.7

      - name: Setup Node
        uses: actions/setup-node@v4.0.2

      - name: Installing packages
        run: yarn install

      - name: Extract repository name
        run: echo "BASE_PATH=/$(echo $GITHUB_REPOSITORY | cut -d '/' -f 2)" >> $GITHUB_ENV

      - name: Build page
        run: yarn run build && touch ./out/.nojekyll

      - name: Debug Branch
        run: git branch -a

      - name: Debug API Status
        run: curl -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" https://api.github.com/repos/${{ github.repository }}/pages

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.6.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: public
          folder: out
          clean: true  # Xóa các file cũ trong nhánh public trước khi deploy