name: GitHub Pages deploy

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: write   # Cho phép ghi vào nội dung repository
  pages: write     # Cho phép quản lý GitHub Pages (nếu cần)

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.7

      - name: Setup Node
        uses: actions/setup-node@v4.0.2

      - name: Installing packages
        run: yarn install

      - name: Extract repository name
        run: echo "BASE_PATH=/$(echo $GITHUB_REPOSITORY | cut -d '/' -f 2)" >> $GITHUB_ENV

      - name: Build page
        run: yarn run build && touch ./out/.nojekyll

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.6.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}  # Quay lại dùng token mặc định
          branch: public
          folder: out
          clean: true